@font-face {
  font-family: "iconfont"; /* Project id 4476189 */
  src: url('iconfont.woff2?t=1720268111863') format('woff2'),
       url('iconfont.woff?t=1720268111863') format('woff'),
       url('iconfont.ttf?t=1720268111863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e7eb";
}

.icon-down1:before {
  content: "\e726";
}

.icon-book1:before {
  content: "\e601";
}

.icon-shrink:before {
  content: "\e60d";
}

.icon-expand3:before {
  content: "\e61e";
}

.icon-home2:before {
  content: "\e644";
}

.icon-sun:before {
  content: "\e624";
}

.icon-see:before {
  content: "\e6de";
}

.icon-suoxiao:before {
  content: "\e63b";
}

.icon-voice:before {
  content: "\e654";
}

.icon-bg-complete:before {
  content: "\e64a";
}

.icon-moon:before {
  content: "\e67c";
}

.icon-favorite-filling:before {
  content: "\e68a";
}

.icon-close:before {
  content: "\e600";
}

.icon-CloseEyes:before {
  content: "\e61a";
}

